@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

div {
  &.add-book {
    background: url('background.jpg') no-repeat;
    background-size: contain;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
  }

  h1 {
    color: white;
    font-family: Abril Fatface;
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    text-align: left;
  }
}

form {
  &.add-book {
    background: white;
    width: 30%;
    margin: 10%;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: solid #CAC8C8 .05em;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 90%;

    &:focus {
      outline: 0;
    }
  }

  ::-webkit-input-placeholder {
    color: #CAC8C8;
  }

  input[type="submit"] {
    background-color: #FFBD33;
    border: none;
    border-bottom: solid #E5AA2D 2px;
    border-right: solid #E5AA2D 2px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;

    &:focus {
      outline: 0;
    }
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
}
