@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

.navbar a {
  font-family: Abril Fatface;
  font-size: 40px;
  text-decoration: none;
  color: black;
}

h1 {
  text-align: left;
}
